/* Default style to sync header, progress, 
instruction title, and buttons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fcfcfc;
    margin: 0;
    padding: 16px 64px;
    height: 100vh;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.app-title {
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(90deg, #F8AB5E 0%, #F36961 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex-basis: 100px;
    text-align: start;
    display: flex;
    align-items: center; 
}

.stage-title {
    font-size: 24px;
    font-weight: bold;
    color: #031749;
    flex-grow: 2;
}

.empty-title {
    flex-basis: 100px;
}

.progress {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 40px auto 38px;
}

.progress-bar, .progress-bar-fill {
    border-radius: 9999px;
    height: 16px;
}

.progress-bar {
    background-color: #e5e7eb;
}

.progress-title {
    font-size: 16px;
    color: #4B5563;
    padding: 0;
    margin-bottom: 9px;
}

.instruction-title {
    font-size: 24px;
    color: #031749;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.button {
    padding: 10px 36px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.button:hover {
    transform: scale(1.05); 
    filter: brightness(1.05);
    text-decoration: underline;
    text-decoration-color: #fff;
}

.button:active { 
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.button.back {
    background-color: #031749;
}

.button.back a {
    color: #fff;
    text-decoration: none;
}

.button.next {
    background: linear-gradient(180deg, #F8AB5E 0%, #F36961 100%);
}

.button.next a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 500px) and (min-width:350px) {
    /* For most phones */
    body {
        padding: 16px 32px;
    }
}

@media (max-width: 350px) {
    /* For Samsung Z Fold 5*/
    body {
        padding: 16px 24px;
    }
}